@use "../abstracts/variables" as v;

.modal {
    position: fixed;
    inset: 0;
    /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    padding: 40px 20px 20px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.4);

    .close_btn {
        padding: 14px;
        background-color: #fff;
    }
}


.open {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.close {
    opacity: 0;
    transform: scale(0.4);
}

.modal_content {
    max-width: 500px;
    padding: 24px;
    width: 100%;
    background-color: #F0F4FC;
    color: #000;

    .close_btn_container {
        display: flex;
        justify-content: end;
        margin-bottom: 4px;

        .close_btn {
            border-radius: 10px;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 33px;
        color: #323232;
        text-shadow: 0px 4px 4px #00000040;
        margin-bottom: 18px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    .checkbox {
        margin: 24px 0;
        display: flex;
        align-items: center;
        text-shadow: 0px 4px 4px #00000040;

        input {
            appearance: auto;
            width: 18px;
            height: 18px;
            box-shadow: 0px 4px 4px 0px #00000040;
        }
    }

    a {
        cursor: pointer;
        color: v.$accent;
        font-size: 20px;
        font-weight: 500;
        line-height: 27.32px;
        text-shadow: 0px 4px 4px #00000040;
    }

    .btns{
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        button{
            display: flex;
            justify-content: center;
            padding: 18px;
            box-shadow: 0px 4px 4px 0px #00000040;
        }
    }
}