@font-face {
    font-family: 'Manrope';
    font-style: medium;
    font-weight: 500;
    src: url(/fonts/Manrope-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Manrope-Regular.ttf) format('ttf');
}